<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
  <div class="body">
    <nav id="navbar-worksmenu" class="navbar navbar-light bg-dark">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink='/searchassociate' class="w3-bar-item w3-button">Search Associate</a>
        </li>
        <li class="nav-item">
          <a routerLink='/addemployee' class="w3-bar-item w3-button">Add Employee</a>
        </li>
        <li class="nav-item">
          <a routerLink='/addskills' class="w3-bar-item w3-button">Add Skills</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>


</div>