.container{
    margin:auto;
    width: 90%;
}
input {
    border-color: lightseagreen;
    border-radius: 5px;
    width: 100%;
    border-style: solid;
}
.headers{
    padding-left: 5px;
    padding-right: 5px;
}

.button {
    
        background-color: lightseagreen;
    
        border-radius: 5px;
    
        padding: 3px 3px;
    
        text-align: center;
    
        text-decoration: none;
    
        font-size: 14px;
    
        width: 150px;
    
        color: white;
    
        line-height: 5px;
    
        float: right;
    
        margin-right: 27em;
    
        margin-bottom: 15em;
    
    }

    .btn {
        padding: 2px 3px;
    }
    .display-row{
        margin-bottom: 20px;
        
    }
    .btn-row {
        font-size: x-small;
        margin-right: 5px;
        margin-left: -8px;
    }
    .inner-row{
        margin-right: 4px;
        margin-left: -14px;
    }
    
img{
    width:55px;
    height: 60px;
    border: solid;
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.status-box{
    width:25px;
    height: 25px;
    background-color: red;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.wrap-text{
    word-break: break-all;
}

.inputRow {
    display: table-row;
}

.inputColumn {
    display: table-cell;
}
.well{
    padding: 2px;
}
.middele{
    margin-top: 18%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul {
    display: flex;
    flex-flow: row wrap;
  }
  
  li {
    height: 150px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .graph-container {
      padding-left: 0px;
      padding-right: 0px;
  }
  .summary{
      height:65px;
      padding-right: 4px;
      padding-left: 0px;
  }
  .rotate {
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Safari 3.1+, Chrome */
    
    }
  
  .summarycolumn{
      padding-left: 0px;
      padding-right: 0px;

  }

  .summary-element{
    height: 65px;
    text-align: center;
    background-color: darkslategrey;
  }

  .summary-element-graph{
    padding-left: 33px;
    padding-right: 4px;
  }

  .summary-details{
      font-size: 11px;
  }
  .def-header{
    text-align: center;
    font-weight: 700;
}

.strong-skills{
    padding-left: 0px;
    word-break: break-all;
    padding-right: 1px;
}

  @media only screen and (max-width: 768px) {
    .summary-element-graph{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
      }
      .summary{
          margin-bottom:20px; 
      }
      .inner-row{
          padding-bottom: 20px;
      }
      .secondRow{
          padding: 20px,0;
      }
      .secondRow2{
          padding-top:20px; 
      }
      .secondRow2 button{
          width: 100%;
      }
      .alignCenter{
          text-align: center;
          padding: 5px 0;
      }
      .editAction{
        padding: 10px;
        width: 20%;
        margin-left: 10%;
        margin-bottom: 20px;  
      }
      img{
          width: 25%;
          height: 25%;
          margin-top: 10px;
          margin-bottom: 10px;      
      }

}